<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.map.mikronomy" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

    <!--android:theme="@style/MikronomyTheme" -->
        <uses-sdk
            android:minSdkVersion="16"
            android:maxSdkVersion="20"
            android:targetSdkVersion="16" />

        <activity
            android:name=".activities.Mikronomy"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Productos"
            android:label="@string/title_activity_productos" >
        </activity>
        <activity
            android:name=".activities.CarroCompra"
            android:label="@string/title_activity_carro_compra" >
        </activity>
    </application>

</manifest>
